header {
    background-color: #FFFFFF;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

img {
    max-width: 100%;
    height: auto;
}
.rectangle {
    width: 552px;
    height: 1px;
    background-color: #F3F3F3;
    margin-top: 20px;
}

h1 {
    font-family: poppins;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}